In [93]:
%matplotlib inline
import pandas as pd
import edgar
download_directory = 'C:/Users/Donley/Documents/GA_TECH/SUBMISSIONS/demo-project/data/raw/'
year = 2019

In [94]:
# edgar.download_index(download_directory, year,skip_all_present_except_last=False)

selectedcompany = 'IBM'
selectedreport = '10-Q'

csv = pd.read_csv('C:/Users/Donley/Documents/GA_TECH/SUBMISSIONS/demo-project/data/raw/' + '2019-QTR4.tsv', sep='\t',  lineterminator='\n', names=None) 

csv.columns.values[0] = 'Item'
companyreport = csv[(csv['Item'].str.contains(selectedcompany)) & (csv['Item'].str.contains(selectedreport))]
Filing = companyreport['Item'].str.split('|')
Filing = Filing.to_list()


for item in Filing[0]:
    if '\r' in item:
        item = item.replace('\r', '')
        if 'html' in item:
            report = new_item
    else: 
        report = item
        
url = 'https://www.sec.gov/Archives/' + report
#https://www.sec.gov/ix?doc=/Archives/edgar/data/1652044/000165204419000032/goog10-qq32019.htm

df = pd.read_html(url)
document_index = df[0]
document_index = document_index.dropna()
document_index

document_name = document_index[document_index['Description'].str.contains(selectedreport)]
document_name = document_name['Document'].str.split(' ')
document_name = document_name[0][0]

report_formatted = report.replace('-','').replace('index.html','')

url = 'https://www.sec.gov/Archives/' + report_formatted + '/' + document_name

df = pd.read_html(url)


for item in df:
    BS = (item[0].astype(str).str.contains('Retained') | item[0].astype(str).str.contains('Total Assets'))
    if BS.any():
        Balance_Sheet = item

    
        

Balance_Sheet = Balance_Sheet.iloc[2:,[0,3,6]]

header = Balance_Sheet.iloc[0]
Balance_Sheet = Balance_Sheet[1:]


Balance_Sheet.columns = header


Balance_Sheet.columns.values[0] = 'Item'
Balance_Sheet = Balance_Sheet[Balance_Sheet['Item'].notna()]

Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(str)
Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('(','-'))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('(','-'))

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(',',''))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(',',''))

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('—','0'))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('—','0'))

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(')',''))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(')',''))

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('-',''))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('-',''))


Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('nan','0'))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('nan','0'))


# Balance_Sheet.fillna(0, inplace=True)
# Balance_Sheet[Balance_Sheet.columns[2:]] = Balance_Sheet[Balance_Sheet.columns[2:]].astype(float)

Balance_Sheet

2                                                Item   2019   2018
3                                             Assets:      0      0
4                           Cash and cash equivalents   2079   1828
5                               Financing receivables  15289  25848
6   (net of allowances of $154 in 2019 and $174 in...      ​      ​
7                    Equipment under operating leases    243    386
8   (net of accumulated depreciation of $231 in 20...      ​      ​
9                      Financing receivables from IBM   3756   3609
10        Receivables purchased/participated from IBM   3857   5433
11  (net of allowances of $7 in 2019 and $18 in 2018)      ​      ​
12                         Other receivables from IBM    604   2019
13                                       Other assets    389    373
14                                       Total assets  26216  39497
15                                                  ​      ​      ​
16                                       Liabilities:      ​      ​
17                                   Accounts payable    318   1705
18                            Accounts payable to IBM    249   3044
19                                               Debt   7410  10954
20                                Debt payable to IBM  14928  19580
21                                              Taxes    619    547
22                                  Other liabilities    192    246
23                                  Total liabilities  23716  36076
24                                 Member’s interest:      ​      ​
25                                  Member's interest   2601   3216
26                                  Retained earnings      0    238
27      Accumulated other comprehensive income/(loss)    101     33
28                            Total member's interest   2500   3420
29            Total liabilities and member’s interest  26216  39497